body {
    background-color: #eaeaea;
  }

  .navbar, .main-color{
    background-color: #FF6D00;
    color: white;
    border: none;
  }

  .main-color {
    margin-top: -21px;
  }

  .main-color form {
    padding-top: 10px;
  }

  .navbar-default .navbar-toggle {
    border-color: white;
    color: white;
  }

  .navbar-default .navbar-brand {
    color: white;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #FF6D00;
  }

  .lefty {
    margin-left: 10px;
  }

  h4 {
    font-weight: bold;
  }

  .deal-today {
  	background-color: white;
  	margin: 5px 0 5px 0;
    padding: 10px;
  }

  .deals {
    background-color: white;
    margin: 5px 0 5px 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .deals p {
    padding: 15px 10px;
  }

  footer {
    background-color: #404545;
    color: #dddddd;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer-section {
    margin-top: 15px;
  }

  .go {
  	background-color: #FF6D00;
  }
  .timer {
  	font-weight: lighter;
  }
  #sales-carousel .carousel-inner .item img {
      margin: 0 auto;
}
